[submodule "PiastCity"]
	path = electives/APM/PiastCity
	url = https://github.com/suchygracz/PiastCity
[submodule "AlteredTicTacToeBot"]
	path = electives/WSI/WSI_2
	url = https://github.com/KiwiGrenade/ATTTB
[submodule "15Puzzle"]
	path = electives/WSI/15Puzzle
	url = https://github.com/KiwiGrenade/15Puzzle
[submodule "Color-changing-tiles"]
	path = sem2/PO/L6
	url = https://github.com/KiwiGrenade/color-changing-tiles
[submodule "Paint"]
	path = sem2/PO/L5
	url = https://github.com/KiwiGrenade/Paint
[submodule "Checkers"]
	path = sem3/TP/checkers
	url = https://github.com/KiwiGrenade/Checkers
