p {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;  
text-decoration: none
}

p.sectitle {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-weight: bold; 
   color: #FF0000
}

pre {
font-size: 10pt;  
}

tt {
font-family: Courier; 
font-size: 11pt;  
text-decoration: none; 
}

div.title {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt;  
text-decoration: none; 
font-weight: bold; 
}

div.footer {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
}

div.tiny {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 8pt; 
}

a {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; 
}

a.footer {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
}

a.small {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
}

a.tiny {  
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 8pt; 
}

a:link {
text-decoration: none;
}

a:hover {
text-decoration: none;
color: red;
}

a:visited {
text-decoration: none;
}

ul {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt; 
}

td {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt
}

td.small {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt
}
